.HomeMenu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px; /* #root의 width에 맞추기 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 12px 0;
    border-top: 1px solid #ddd;
    
}


.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.2s;
}

.menu-item svg {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

.menu-item.active {
    color: #ff8c94; /* 선택된 아이콘 색상 */
    font-weight: bold;
}
